<app-empty-navbar></app-empty-navbar>
<app-consultation-navbar></app-consultation-navbar>
<div class="flex justify-center ">
    <div class="blue-container flex flex-col sm:flex-row">
       <img src="/medecin.png" width="400" class="medecin">
       <div class="info">
           <h1> {{consultation.medecinConsultant.last_name}} {{" "}} {{consultation.medecinConsultant.first_name}}</h1>
           <h2>{{consultation.medecinConsultant.email}}</h2>
           <h2>{{consultation.medecinConsultant.numero_telephone}}</h2>
       </div>
    </div>
</div>
