<app-empty-navbar></app-empty-navbar>
<app-consultation-navbar></app-consultation-navbar>
<div class="flex justify-center ">
    <div class="blue-container flex flex-col sm:flex-row">
       <img src="/medecin.png" width="400" class="medecin">
       <div class="info">
           <h1> {{consultation.medecin.nom}} {{" "}} {{consultation.medecin.prenom}}</h1>
           <h2>{{consultation.medecin.specialite}}</h2>
           <h2>{{consultation.medecin.email}}</h2>
           <h2>{{consultation.medecin.tel}}</h2>
       </div>
    </div>
</div>
