<app-empty-navbar></app-empty-navbar>
<app-dpi-navbar></app-dpi-navbar>
<div class="flex justify-center">
<div class="blue-container">
    <h3 class="Rech-title">Consultations récentes :</h3>
   <div class="white-container">
   <table>
   <thead> 
   <tr>
     <th>Médecin</th>
     <th>Date</th>
     <th></th>
     <th></th>
   </tr>
   </thead> 
   <tbody>
   <tr>
     <td>Nom Prenom</td>
     <td>jj/mm/aa</td>
     <td><span class="material-symbols-outlined delete-icone"> delete</span></td>
     <td class="align" (click)="goToMedecinPage()">voir plus <span class="material-symbols-outlined"> arrow_right_alt</span></td>
   </tr>
   <tr>
     <td>Nom Prenom</td>
     <td>jj/mm/aa</td>
     <td><span class="material-symbols-outlined delete-icone"> delete</span></td>
     <td class="align">voir plus <span class="material-symbols-outlined"> arrow_right_alt</span></td>
   </tr>
   <tr>
     <td>Nom Prenom</td>
     <td>jj/mm/aa</td>
     <td><span class="material-symbols-outlined delete-icone"> delete</span></td>
     <td class="align">voir plus <span class="material-symbols-outlined"> arrow_right_alt</span></td>
   </tr>
   <tr>
     <td>Nom Prenom</td>
     <td>jj/mm/aa</td>
     <td><span class="material-symbols-outlined delete-icone"> delete</span></td>
     <td class="align">voir plus <span class="material-symbols-outlined"> arrow_right_alt</span></td>
   </tr>
   <tr>
     <td>Nom Prenom</td>
     <td>jj/mm/aa</td>
     <td><span class="material-symbols-outlined delete-icone"> delete</span></td>
     <td class="align">voir plus <span class="material-symbols-outlined"> arrow_right_alt</span></td>
   </tr>
   <tr>
     <td>Nom Prenom</td>
     <td>jj/mm/aa</td>
     <td><span class="material-symbols-outlined delete-icone"> delete</span></td>
     <td class="align">voir plus <span class="material-symbols-outlined"> arrow_right_alt</span></td>
   </tr>
   </tbody>
   </table>
   </div>
   <button class="add-btn">Ajouter Consultation</button>
   </div>
</div>