<div class="navbar">
  <img src="/logo.png" class="logo" alt="Logo">
  <div class="navbar-buttons">
    <button (click)="voirProfile()">Mon profile</button>
    <button class="active">Ajouter Bilan Radiologique</button>
  </div>
  <button class="se-deconnecter" (click)="logout()">Se déconnecter</button>
</div>

<div class="main-section">
  <!-- Formulaire d'ajout de bilan radiologique -->
  <div class="form-row">
    <div class="form-field">
      <input id="datetime" class="datetime-input" type="datetime-local" [(ngModel)]="time" placeholder="Date et Heure" required>
    </div>
    <div class="form-field">
      <input id="nss" class="input-field" [(ngModel)]="nss" placeholder="NSS du patient" required (blur)="checkNssExistence()">
      <div *ngIf="isNssInvalid" class="error-message">Le numéro de patient (NSS) n'existe pas.</div>
    </div>
  </div>
  
  <!-- Date de consultation -->
  <div class="form-field">
    <label for="datecons" class="form-label">Entrer la date de consultation :</label>
    <input id="datecons" class="datetime-input" type="datetime-local" [(ngModel)]="datecons" placeholder="Date de consultation" required (blur)="checkConsultationExistence()">
    <div *ngIf="isConsInvalid" class="error-message">La date de consultation est invalide.</div>
  </div>

  <!-- Compte rendu -->
  <div class="form-field">
    <textarea id="compteRendu" class="textarea-field" [(ngModel)]="compteRendu" placeholder="Compte rendu" required></textarea>
  </div>

 <!-- Upload des images (uniquement Radiographie) -->
<div class="form-row">
  <div class="form-field">
    <button type="button" class="upload-btn" (click)="triggerFileInput('Radiographie')">Attacher Radio</button>
    <input id="imageRadiographie" type="file" (change)="onImageUpload($event, 'Radiographie')" accept="image/*" class="file-upload" />
    
    <!-- Affichage de la prévisualisation de l'image -->
    <div *ngIf="imageRadiographiePreview" class="image-preview">
      <img [src]="imageRadiographiePreview" alt="Radiographie" />
    </div>
  </div>
</div>


  <!-- Boutons -->
  <div class="button-group">
    <button class="cancel" (click)="onCancel()">Effacer</button>
    <button class="save" (click)="onSave()">Enregistrer</button>
  </div>

  <!-- Message de succès -->
  <div *ngIf="isSaved" class="success-message">
    Enregistré avec succès !
  </div>
</div>
