<app-empty-navbar></app-empty-navbar>
<app-consultation-navbar></app-consultation-navbar>
<div class="flex justify-center items-center">
    <div class="blue-container">
        <h3 class="Rech-title">Ordonnance :</h3>
       <div class="white-container">
       <table>
       <thead> 
       <tr>
         <th>Médicament</th> 
         <th>Dose</th>
         <th>Duré</th>
       </tr>
       </thead>
       <tbody>
        <tr *ngFor="let medicament of ordoList">
        <td>{{medicament.nom}}</td>
        <td>{{medicament.dose}}</td>
        <td>{{medicament.dure}}</td>
       </tbody>
       </table>
       </div> 
       <div class="flex justify-between items-center mt-10 w-full max-w-4xl mx-auto">
         <div class="flex items-center gap-2">
           <h2>Signature :</h2>
           <p>Dr.{{consultation.medecin.nom}}</p>
         </div>
         <div class="flex items-center gap-2">
           <h2>Date :</h2>
           <p>{{consultation.date}}</p>
         </div>
       </div>    
    </div>
       </div>
    
