<app-empty-navbar></app-empty-navbar>
<app-consultation-navbar></app-consultation-navbar>
<div class="flex justify-center items-center">
    <div class="blue-container">
        <h3 class="Rech-title">Ordonnance :</h3>
       <div class="white-container">
       <table>
       <thead> 
       <tr>
         <th>Médicament</th>
         <th>Dose</th>
         <th>Duré</th>
       </tr>
       </thead>
       <tbody>
       <tr>
        <td>Médicament</td>
        <td>Dose</td>
        <td>Duré</td>
       </tr>
       <tr>
        <td>Médicament</td>
        <td>Dose</td>
        <td>Duré</td>
       </tr>
       <tr>
        <td>Médicament</td>
        <td>Dose</td>
        <td>Duré</td>
       </tr>
       <tr>
        <td>Médicament</td>
        <td>Dose</td>
        <td>Duré</td>
       <tr>
        <td>Médicament</td>
        <td>Dose</td>
        <td>Duré</td>
       </tr>
       <tr>
        <td>Médicament</td>
        <td>Dose</td>
        <td>Duré</td>
       </tr>
       </tbody>
       </table>
       </div> 
       <div class="flex justify-between items-center mt-10 w-full max-w-4xl mx-auto">
         <div class="flex items-center gap-2">
           <h2>Signature :</h2>
           <p>Dr.Malek</p>
         </div>
         <div class="flex items-center gap-2">
           <h2>Date :</h2>
           <p>jj/mm/aa</p>
         </div>
       </div>    
    </div>
       </div>
    
