<app-empty-navbar></app-empty-navbar>
<app-consultation-navbar></app-consultation-navbar>
<div class="flex justify-center items-center">
    <div class="blue-container">
        <h3 class="Rech-title">Ordonnance :</h3>
       <div class="white-container">
       <table>
       <thead>
       <tr>
         <th>Médicament</th>
         <th>Dose</th>
         <th>Durée</th>
       </tr>
       </thead>
       <tbody>
        <tr *ngFor="let medicament of ordoList.medicaments">
        <td>{{medicament.nom}}</td>
        <td>{{medicament.dose}}</td>
        <td>{{medicament.duree}}</td>
       </tbody>
       </table>
       </div>
       <div class="flex justify-between items-center mt-10 w-full max-w-4xl mx-auto">
         <div class="flex items-center gap-2">
           <h2>Signature :</h2>
           <p>Dr.{{consultation.medecinConsultant.last_name}}</p>
         </div>
         <div class="flex items-center gap-2">
          <h2>Statut :</h2>
          <p>{{ordoList.statut}}</p>
        </div>
         <div class="flex items-center gap-2">
           <h2>Date :</h2>
           <p>{{consultation.date_consultation}}</p>
         </div>
       </div>
    </div>
       </div>

