<app-empty-navbar></app-empty-navbar>
<app-dpi-navbar></app-dpi-navbar>
<div class="flex justify-center">
<div class="blue-container">
    <h3 class="Rech-title">Liste des soins :</h3>
   <div class="white-container">
   <table>
   <thead> 
   <tr>
     <th>Soin</th>
     <th>Inférmier</th>
     <th>Date</th>
     <th>Heure</th>
   </tr>
   </thead>
   <tbody>
   <tr>
     <td>soin</td>
     <td>Inférmier</td>
     <td>jj/mm/aa</td>
     <td>HH:MM</td>
   </tr>
   <tr>
    <td>soin</td>
    <td>Inférmier</td>
    <td>jj/mm/aa</td>
    <td>HH:MM</td>
   </tr>
   <tr>
    <td>soin</td>
    <td>Inférmier</td>
    <td>jj/mm/aa</td>
    <td>HH:MM</td>
   </tr>
   <tr>
    <td>soin</td>
     <td>Inférmier</td>
     <td>jj/mm/aa</td>
     <td>HH:MM</td>
   </tr>
   <tr>
    <td>soin</td>
    <td>Inférmier</td>
    <td>jj/mm/aa</td>
    <td>HH:MM</td>
   </tr>
   <tr>
    <td>soin</td>
    <td>Inférmier</td>
    <td>jj/mm/aa</td>
    <td>HH:MM</td>
   </tr>
   </tbody>
   </table>
   </div>
</div>
   </div>
