<app-empty-navbar></app-empty-navbar>
<app-dpi-navbar></app-dpi-navbar>
<div class="flex justify-center">
<div class="blue-container">
    <h3 class="Rech-title">Liste des soins :</h3>
   <div class="white-container">
   <table>
   <thead> 
   <tr>
     <th>Soin</th> 
     <th>Infirmier</th> 
     <th>Date</th>
     <th>Médicament administré</th>
   </tr>
   </thead>
   <tbody>
    <tr *ngFor="let soin of soinsList">
     <td>{{soin.soin}}</td>
     <td> {{soin.infirmier}} </td>
     <td> {{soin.date_soin}} </td>
     <td> {{soin.medicament_pris}} </td>
   </tr>
   </tbody>
   </table>
   </div>
</div>
   </div>
