<div class="login">
    <img src="/Capture_d_écran_2024-12-06_190425-removebg-preview.png" class="logo-pic">
    <div class="login-form">
      <div class="align">
        <p>Welcome to</p>
        <p class="health">Health</p>
      </div> 
      <h1 class="logo">Se connecter</h1>
      
      <label class="login-label">Entrez votre nom d'utilisateur :</label>
      <input 
        class="login-input" 
        type="text" 
        placeholder="nom d'utilisateur" 
        [(ngModel)]="username"
      >
  
      <label class="login-label">Entrez votre mot de passe :</label>
      <input 
        class="login-input" 
        type="password" 
        placeholder="mot de passe" 
        [(ngModel)]="password"
      >
  
      <!-- Afficher un message d'erreur si nécessaire -->
      <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
      
      <p class="mpo">mot de passe oublié ?</p>
      
      <div class="btn-div">
        <button (click)="login()" class="login-btn">Se connecter</button>
      </div>
    </div>
  </div>
  