<div *ngIf="popOutVisible" class="popup-container  font-pop z-30">
    <div class="popup-header">
        <div class="circle-empty"></div>
      <div class="circle-filled">2</div>
    </div>
  
    <div class="popup-title">
      <strong>Demander Bilan</strong>
    </div>
    <div class="bg-white rounded-lg w-full h-full">
        <div class="flex justify-center space-x-12 pt-4 bg-white rounded-lg w-full h-20">
           <textarea class="border rounded-lg m-4" placeholder="Ecrire votre demande"></textarea>
        </div> 
    </div>
    <div class="buttons">
      <button (click)="onCancel()" class="cancel-button" >Annuler</button>
      <button (click)="onSave()" class="next-button" >Enregistrer</button>
    </div>
  </div>
  
  