<div class="profile-container">
    <div class="profile-box">
      <div class="icon">
        <i class="fa fa-user" style="color: #3D3BF3;"></i>
      </div>
      <div class="info">
        <h3>{{ patient.last_name }} {{ patient.first_name }}</h3>
      </div>
    </div>
  
    <div class="profile-box">
      <div class="icon">
        <i class="fa fa-credit-card" style="color: #3D3BF3;"></i>
      </div>
      <div class="info">
        <h3>NSS</h3>
        <p>{{ patient.nss }}</p>
      </div>
    </div>

    <div class="profile-box">
      <div class="icon">
        <i class="fas fa-calendar-alt" style="color: #3D3BF3;"></i>
      </div>
      <div class="info">
        <h3>Date de naissance</h3>
        <p>{{ patient.date_naissance }}</p>
      </div>
    </div>
  
    <div class="profile-box">
      <div class="icon">
        <i class="fa fa-envelope" style="color: #3D3BF3;"></i>
      </div>
      <div class="info">
        <h3>Email</h3>
        <p>{{ patient.email }}</p>
      </div>
    </div>
  
    <div class="profile-box">
      <div class="icon">
        <i class="fa fa-phone-square" style="color: #3D3BF3;"></i>
      </div>
      <div class="info">
        <h3>Numéro de téléphone</h3>
        <p>{{ patient.numero_telephone }}</p>
      </div>
    </div>
  
    <div class="profile-box">
      <div class="icon">
        <i class="fa fa-phone-square" style="color: #3D3BF3;"></i>
      </div>
      <div class="info">
        <h3>Téléphone d'urgence</h3>
        <p>{{ patient.telephone_urgence }}</p>
      </div>
    </div>
  
    <div class="profile-box">
      <div class="icon">
        <i class="fa fa-user-md" style="color: #3D3BF3;"></i>
      </div>
      <div class="info">
        <h3>Médecin traitant</h3>
        <p>{{ patient.medecin_traitant }}</p>
      </div>
    </div>
  
    <div class="profile-box">
      <div class="icon">
        <i class=" fa fa-hospital" style="color: #3D3BF3;"></i>
      </div>
      <div class="info">
        <h3>Mutuelle</h3>
        <p>{{ patient.mutuelle }}</p>
      </div>
    </div>
  </div>
  