<div *ngIf="popOutVisible" class="popup-container shadow-lg z-20">
    <div class="popup-header">
      <div class="circle-filled">1</div>
      <div class="circle-empty"></div>
    </div>
  
    <div class="popup-title">
      <strong>Créer une nouvelle consultation</strong>
    </div>
  
    <div class="datetime-picker">
      <input type="datetime-local" id="datetime" name="datetime" #datetimeInput>
    </div>
  
    <div class="resume-consultation">
      <textarea
        id="resume"
        name="resume"
        rows="6"
        cols="50"
        placeholder="Entrez le résumé de la consultation..."
        #resumeInput
      ></textarea>
    </div>
  
    <div class="choice-container">
      <div class="choices">
        <label>
          <input type="radio" name="action" value="ordonnance" (change)="selectAction('ordonnance')"> Établir ordonnance
        </label>
        <label>
          <input type="radio" name="action" value="bilan biologique,bilan radiologique" (change)="selectAction('bilan biologique,bilan radiologique')"> Demander bilan radiologique et biologique        </label>
        <label>
        <label>
          <input type="radio" name="action" value="Bilan radiologique" (change)="selectAction('Bilan radiologique')"> Demander bilan radiologique
        </label>
        <label>
          <input type="radio" name="action" value="Bilan biologique" (change)="selectAction('Bilan biologique')"> Demander bilan biologique
        </label>
          <input type="radio" name="action" value="aucun" (change)="selectAction('aucun')"> Aucun
        </label>
      </div>
    </div>
  
    <div class="buttons">
      <button class="cancel-button" (click)="annuler()">Annuler</button>
      <button class="next-button" (click)="suivant(datetimeInput.value, resumeInput.value)">Suivant</button>
    </div>
  </div>
  