<div class="personnel-form">
    <div class="align">
    <input class="input" type="text" placeholder="Nom" required>
    <input class="input" type="text" placeholder="Prenom" required>
    </div>
    <div class="align">
    <input class="input" type="text" placeholder="NSS" required>
    <input class="input" type="email" placeholder="Email" required>
    </div>
    <div class="align">
    <input class="input" type="text" placeholder="Adresse" required>
    <select class="input" required>
        <option value="" disabled selected>Spécialité</option>
        <option value="medecin">Médecin</option>
        <option value="infermier">Infirmier</option>
        <option value="radiologue">Radiologue</option>
        <option value="laborantin">Laborantin</option>
        <option value="admin">Admin</option>
    </select>
    </div>
    <div class="align">
    <input class="input" type="text" placeholder="Nom d'utilisateur" required>
    <input class="input" type="password" placeholder="Mot de passe" required>
    </div>
    <div class="btn-div">
        <button class="login-btn">Enregistrer</button>
       </div>
</div>
