<div class="mt-96">
  <div class="flex mt-20 justify-start w-full">
    <p class="mb-8 ml-8 text-3xl font-bold font-pop ">Créer un nouveau DPI</p>
  </div>
  <div [ngClass]="{'visible': errorMsg.length!=0}" class="mb-8 flex justify-center z-30">
    <div [ngClass]="{'bg-red-300': errorMsg.length!=0}" class="flex rounded justify-center w-32 h-8">
      <h3 class="mt-1.5 text-red-600"> {{errorMsg}}</h3>
    </div>
  </div>
  <form [formGroup]="dpiForm" (ngSubmit)="onSubmit()">
      <div class="flex-col w-full space-y-8 ml-8 font-pop">
        <div class="flex space-x-8">
          <input type="text" class="pl-4 border h-10 w-2/5 rounded-md" placeholder="Nom" formControlName="nom">
          <input type="text" class="pl-4 border h-10 w-2/5 rounded-md" placeholder="Prénom" formControlName="prenom">
        </div>
        <div class="flex space-x-8">
          <input type="text" class="pl-4 border h-10 w-2/5 rounded-md" placeholder="NSS" formControlName="nss">
          <input type="email" class="pl-4 border h-10 w-2/5 rounded-md" placeholder="Email" formControlName="email">
        </div>
        <div class="flex space-x-8">
          <input type="text" class="pl-4 border h-10 w-2/5 rounded-md" placeholder="Numéro de téléphone" formControlName="telephone">
          <input type="text" class="pl-4 border h-10 w-2/5 rounded-md" placeholder="Numéro de téléphone d'urgence" formControlName="telephoneUrgence">
        </div>
        <div class="flex space-x-8">
          <input type="text" class="pl-4 border h-10 w-1/4 rounded-md" placeholder="Adresse" formControlName="adresse">
          <input type="date" class="pl-4 border h-10 w-1/4 rounded-md" placeholder="Date de naissance" formControlName="dateNaissance">
          <input type="text" class="pl-4 border h-10 w-1/4 rounded-md" placeholder="Medecin traitant" formControlName="medecinTraitant"> 
        </div>
        <div class="flex space-x-8">
          <input type="text" class="pl-4 border h-10 w-2/5 rounded-md" placeholder="Nom d'utilisateur" formControlName="nomUtilisateur">
          <input type="password" class="pl-4 border h-10 w-2/5 rounded-md" placeholder="Mot de passe" formControlName="motDePasse">
        </div>
        <div class="flex space-x-8">
          <textarea class="pl-4 border w-10/12 rounded-md" placeholder="Mutuelle" formControlName="mutuelle"></textarea>
        </div>
        <div class="flex justify-center items-center">
          <button type="submit" class="bg-navyBlue w-1/5 h-10 text-white p-2  rounded-md" >Enregistrer</button>
        </div>
      </div>
    </form>
    
</div>