<app-empty-navbar></app-empty-navbar>
<app-dpi-navbar></app-dpi-navbar>
<div class="flex justify-center">
    <div class="blue-container w-full max-w-screen-lg px-4 sm:px-8">
      <div class="flex flex-col items-center sm:flex-row sm:justify-between gap-4 up">
        <span class="material-symbols-outlined user_attributes">user_attributes</span>
        <h1 class="text-center sm:text-left">Nom Prenom</h1>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-10">
        <div class="flex flex-col sm:flex-row items-center gap-2">
          <h4>NSS</h4>
          <p>23456784567</p>
        </div>
        <div class="flex flex-col sm:flex-row items-center gap-2">
          <h4>Email</h4>
          <p>address mail</p>
        </div>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-10">
        <div class="flex flex-col sm:flex-row items-center gap-2">
          <h4>Num Tel</h4>
          <p>055234567</p>
        </div>
        <div class="flex flex-col sm:flex-row items-center gap-2">
          <h4>Num Tel Urgent</h4>
          <p>023456783</p>
        </div>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-10">
        <div class="flex flex-col sm:flex-row items-center gap-2">
          <h4>Date de naissance</h4>
          <p>jj/mm/aa</p>
        </div>
        <div class="flex flex-col sm:flex-row items-center gap-2">
          <h4>Adresse</h4>
          <p>Alger</p>
        </div>
      </div>
      <div class="flex flex-col sm:flex-row items-center gap-2 mt-10 sm:mt-20">
        <h4>Mutuelle</h4>
        <p class="txt">mutuelle</p>
      </div>
    </div>
  </div>
  