<section class="bg-white relative">
    <div class="absolute inset-0 z-0 clip-path-mock"></div>
    <div class="relative z-10 container mx-auto flex flex-col md:flex-row items-center justify-between py-16 px-6">
      <div class="max-w-md text-center md:text-left">
        <h1 class="text-4xl font-bold text-gray-900 leading-tight">
          Ici  <br /> 
          <span class="text-lightBlue" > Créer un nouveau DPI </span>
        </h1>
        <p class="mt-4 text-lg">
            Ajouter un nouveau Dossier de Patient Informatisé et ajouter un nouveau compte de patient à travers notre application !
        </p>
      </div>
      <div class="mt-8 md:mt-0">
        <img src="/hero.png" alt="Illustration" class="w-full max-w-lg">
      </div>
    </div>
  </section>
  
