<div class="flex h-12 mt-5 justify-between space-x-2 mx-6 font-semibold">
    <button class="rounded-md ">
        <img class="w-32 object-contain" src="/Capture_d_écran_2024-12-06_190425-removebg-preview.png">
    </button>

    <div class="flex space-x-8">
        <!-- Masquer le bouton de recherche pour l'admin -->
        <button *ngIf="user.role !== 'Administrateur'" (click)="goToRechDpiPage()" [ngClass]="getButtonCaseRech('Rech')" class="rounded-md text-sm w-fit p-2">
            Rechercher DPI
        </button>

        <!-- Changer le lien du bouton Mon Profil pour les médecins -->
        <button (click)="goToProfilPage()" [ngClass]="getButtonCaseProfil('Profil')" class="rounded-md text-sm w-fit p-2">
            Mon profil
        </button>

        <button (click)="goToAddDpiPage()" [ngClass]="getButtonClasses('dpi')" class="rounded-md text-sm w-fit p-2">
            Ajouter DPI
        </button>
    </div>

    <button (click)="goToLandingPage()" class="bg-indigo-600 w-32 text-white text-sm p-2 w-fit rounded-md rounded-xl px-4">
        Se déconnecter
    </button>
</div>
