<app-empty-navbar></app-empty-navbar>
<app-consultation-navbar></app-consultation-navbar>
<div class="flex justify-center items-center">
    <div class="blue-container">
        <h3 class="Rech-title">Bilan Radiologique :</h3>

            <div *ngIf="bilanRadio; else noData">
              <img [src]="'http://127.0.0.1:8000' + bilanRadio.bilan_radiologique.images" alt="Image radiologique" />
            </div>
            <ng-template #noData>
              <p>Aucun bilan radiologique dans cette consultation.</p>
            </ng-template>     
          </div>
       </div>