/* Conteneurs bleus et blancs */
.blue-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Ajuste à la largeur disponible */
  max-width: 1100px; /* Limite maximale */
  margin-top: 50px;
  background-color: #DEEBFF;
  padding: 20px;
  border-radius: 20px;
}

/* Style spécifique pour l'image radiologique */
img {
  width: 100%; /* L'image prend toute la largeur du conteneur */
  max-width: 500px; /* Limite la taille de l'image */
  height: auto; /* Conserve les proportions de l'image */
  margin-top: 10px; /* Ajoute un espace au-dessus de l'image */
}

/* Titre de recherche */
.Rech-title {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: left;
  align-self: flex-start;
  margin-left: 20px;
  margin-bottom: 30px;
}

/* Media Queries pour les écrans plus petits */
@media (max-width: 768px) {
  .blue-container {
    padding: 15px; /* Réduit l'espace intérieur */
    margin-top: 100px;
  }

  img {
    max-width: 80%; /* L'image occupe 80% de la largeur du conteneur sur les petits écrans */
  }
}

@media (max-width: 480px) {
  .Rech-title {
    font-size: 18px; /* Réduit la taille du texte pour les petits écrans */
  }

  img {
    max-width: 100%; /* L'image prend toute la largeur disponible sur les très petits écrans */
  }
}

/* Style pour le texte "Aucune donnée disponible" */
.noData {
  font-size: 18px;
  color: red;
  text-align: center;
  margin-top: 30px;
}
