<div class="profile-container">
    <div class="profile-box">
      <div class="icon">
        <i class="fa fa-user" style="color: #3D3BF3;"></i>
      </div>
      <div class="info">
        <h3>{{ staff.nom }} {{ staff.prenom }}</h3>
      </div>
    </div>
  
    <div class="profile-box">
      <div class="icon">
        <i class="fa fa-credit-card" style="color: #3D3BF3;"></i>
      </div>
      <div class="info">
        <h3>NSS</h3>
        <p>{{ staff.nss }}</p>
      </div>
    </div>
  
    <div class="profile-box">
      <div class="icon">
        <i class="fa fa-envelope" style="color: #3D3BF3;"></i>
      </div>
      <div class="info">
        <h3>Email</h3>
        <p>{{ staff.email }}</p>
      </div>
    </div>
  
    <div class="profile-box">
      <div class="icon">
        <i class="fa fa-map-marker-alt" style="color: #3D3BF3;"></i> <!-- Nouvelle icône pour l'adresse -->
      </div>
      <div class="info">
        <h3>Adresse</h3>
        <p>{{ staff.adresse }}</p>
      </div>
    </div>
  
    <div class="profile-box">
      <div class="icon">
        <i class="fa fa-heartbeat" style="color: #3D3BF3;"></i> <!-- Nouvelle icône pour la spécialité -->
      </div>
      <div class="info">
        <h3>Spécialité</h3>
        <p>{{ staff.specialite }}</p>
      </div>
    </div>
  
    <div class="profile-box">
      <div class="icon">
        <i class="fa fa-user-circle" style="color: #3D3BF3;"></i>
      </div>
      <div class="info">
        <h3>Nom d'utilisateur</h3>
        <p>{{ staff.nomUtilisateur }}</p>
      </div>
    </div>
  </div>
  