<div class="profile-container">

  <!-- Nom complet -->
  <div class="profile-box">
    <div class="icon">
      <i class="fa fa-user" style="color: #3D3BF3;"></i>
    </div>
    <div class="info">
      <h3><span class="black-text">{{ user?.data.first_name }} {{ user?.data.last_name }}</span></h3> <!-- Application de la classe black-text -->
      
    </div>
  </div>

  <!-- Email -->
  <div class="profile-box">
    <div class="icon">
      <i class="fa fa-envelope" style="color: #3D3BF3;"></i>
    </div>
    <div class="info">
      <h3>Email</h3>
      <p>{{ user?.data.email }}</p>
    </div>
  </div>

  <!-- Adresse -->
  <div class="profile-box">
    <div class="icon">
      <i class="fa fa-map-marker-alt" style="color: #3D3BF3;"></i>
    </div>
    <div class="info">
      <h3>Adresse</h3>
      <p>{{ user?.data.adresse }}</p>
    </div>
  </div>

  <!-- Rôle -->
  <div class="profile-box">
    <div class="icon">
      <i class="fa fa-briefcase" style="color: #3D3BF3;"></i> <!-- Icône de rôle -->
    </div>
    <div class="info">
      <h3>Rôle</h3>
      <p>{{ user?.role }}</p>
    </div>
  </div>

  <!-- Nom d'utilisateur -->
  <div class="profile-box">
    <div class="icon">
      <i class="fa fa-user-circle" style="color: #3D3BF3;"></i>
    </div>
    <div class="info">
      <h3>Nom d'utilisateur</h3>
      <p>{{ user?.username }}</p>
    </div>
  </div>
</div>
