<div class="login">
    <img src="/logoNobg.png" class="logo-pic">
    <div class="login-form">
    <div class="align">
     <p>Welcome to</p>
     <p class="health">Health</p>
    </div> 
     <h1 class="logo">Se connecter</h1>
     <label class="login-label">Entrez votre nom d'utilisateur :</label>
     <input class="login-input" type="text" placeholder="nom d'utilisateur">
     <label class="login-label">Entrez votre mot de passe :</label>
     <input class="login-input" type="password" placeholder="mot de passe">
     <p class="mpo">mot de passe oublier ?</p>
     <div class="btn-div">
     <button class="login-btn">Se connecter</button>
    </div>
    </div>
</div>