<app-empty-navbar></app-empty-navbar>
<app-consultation-navbar></app-consultation-navbar>
<div class="flex justify-center">
   <div class="blue-container">
       <h1>Résumé :</h1>
       <p class="resume-text">{{consultation.resume}}</p>
       <div class="footer">
        <div class="flex items-center gap-2">
           <h2>Signature :</h2>
           <p>Dr.{{consultation.medecin.nom}}</p>
         </div>
         <div class="flex items-center gap-2">
           <h2>Date :</h2>
           <p>{{consultation.date}}</p>
         </div>
       </div>
   </div>
</div> 