.blue-container{
    display: grid;
    justify-content: center;
    width: 1100px;
    margin-top: 50px;
    background-color: #DEEBFF;
    padding: 50px;
    border-radius: 20px;
    text-align: justify;
  }

  h1{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  h2{
    font-weight: 700;
    margin-right: 20px;
  }
